
.env
.venv

api/__pycache__

travel/__pycache__
travel/services/__pycache__


meeting/__pycache__
meeting/services/__pycache__

dashboard/__pycache__
whatsapp/services/__pycache__

Max_G/__pycache__

stays/__pycache__
stays/services/__pycache__

token.json
client_secret.json


db.sqlite3

t.json

